$slide-animation-time: 0.3s;

.slide-left, .slide-right {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.slide-left.ng-enter, .slide-left.ng-leave,
.slide-right.ng-enter, .slide-right.ng-leave {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) $slide-animation-time;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) $slide-animation-time;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) $slide-animation-time;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) $slide-animation-time;
}

.slide-left.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}

.slide-left.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

.slide-left.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

.slide-left.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}

.slide-right.ng-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
}

.slide-right.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

.slide-right.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

.slide-right.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}