$main-background: #f6f6f6;
@import "reset";
@import "effects";

body {
  background-color: $main-background;
}


.fullscreen {
  position:absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.btn-choice {
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  border: 1 px solid #eee;
  font-size: 18px;
}

$choice-img-border: 3px;
$choice-circle-radius: 30px;

.img-choice-container {
  display: -webkit-flex;
  display: flex;

  &:hover {
    .img-choice:before {
      opacity: 0;
    }
  }
  .img-choice {
    position: relative;
    height: 300px;
    flex-grow: 1;
    display: inline-block;
    border-right: $choice-img-border solid transparent;
    border-left:  $choice-img-border solid transparent;
    cursor: pointer;
    &:first-child { border-left: none; }
    &:last-child  { border-right: none; }

    figure{
      overflow: hidden;
      height: 300px;
      color: #FFFFFF;
      figcaption{
        position: absolute;
        top: 10px;
      }
    }

    &:first-child:before { display: none; }
    &:before {
      -webkit-transition: all 0.35s, -webkit-transform 0.35s;
      position: absolute;
      left: -$choice-circle-radius+ -$choice-img-border;
      top: 50%;

      content: "OR";
      z-index: 999;
      height: $choice-circle-radius*2;
      width: $choice-circle-radius*2;
      background-color: $main-background;
      margin-top: -$choice-circle-radius;
      line-height: $choice-circle-radius*2;
      font-size: 15px;
      border-radius: 50%;
      text-align: center;
    }
  }
}

