*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@import "animations";

.fullscreen {
  position:absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}


.btn-choice {
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  border: 1 px solid #eee;
  font-size: 18px;
}


.img-choice-container {
  display: -webkit-flex;
  display: flex;

  .img-choice {
    background-color: #ff0000;
    background-size: cover;
    background-position: center;
    height: 300px;
    flex-grow: 1;
    display: inline-block;
    border-right: 3px solid #fff;
    border-left:  3px solid #fff;
    &:first-child  { border-left: none }
    &:last-child  { border-right: none; }
  }
}

