$main-background: #f6f6f6;
@import "reset";
@import "effects";
@import "fonts";

body {
  background-color: $main-background;
  -webkit-font-smoothing:antialiased; 
}

.startpage {
	border-top: 5px solid #2a6ac0;
	width:100%;
	text-align: center;
	height:400px;
	background-image: url(../images/trivago-startpage-topLeft.png), url(../images/trivago-startpage-topRight.png);
	background-position: top left, top right;
	background-repeat: no-repeat;
	img { margin-top: 150px; }
}

.iframeWrapper{ width:100%; height: 1800px; overflow: hidden; }
iframe { 
	margin-top: -80px;
	width:100%;
	border:0;
	height:1800px;
}

.results { width:100%; text-align: center;
	li { 
		width: 180px; 
		margin-right: 1.66113%; 
		margin-bottom: 1%;
		height: 88px; 
		display: inline-block; 
		box-sizing: border-box;
	}
	.cityItem { 
		border: 1px solid #999;
		box-shadow: #d4dce3 0 0 0 3px inset,#d4dce3 2px 3px 0;
		&:hover, &.active{
			border: 1px solid #236db5;
			box-shadow: #236db5 0 0 0 3px inset,#d4dce3 2px 3px 0;
		}
	}

	a {
		display: table;
		height: 100%;
		padding: 18px;
		position: relative;
		text-transform: uppercase;
		width: 100%;
		text-decoration: none;
		color:#236db5;
	}
	.wrap {
		display: table-cell;
		vertical-align: middle;
		font-family: "Raleway",sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	.title {
		font-weight: 800;
	}
}
.ribbon { 	
	background: url(../images/ribbon.png);	 
	display: inline-block;
	font-size: 0.1px; 
	width: 273px;
	height: 109px;
	position: absolute;
	left: 50%;
	margin-left: -136px;
	top: 341px;
	z-index: 100;
}

.fullscreen {
  position:absolute;
	width:100%;
}
	
.btn-choice {
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  border: 1 px solid #eee;
  font-size: 18px;
}

$choice-img-border: 10px;
$choice-circle-radius: 30px;

.img-choice-container {
  display: -webkit-flex;
  display: flex;
  margin:0 0 50px 0;

  &.active {
  	.img-choice { opacity:1; }
    -webkit-filter: none;
    .img-choice img { -webkit-filter: none; opacity:1; }
  }

  &:hover {
    .img-choice:before {
      opacity: 0;
    }
  }
  .img-choice {
    position: relative;
    height: 300px;
    flex-grow: 1;
    display: inline-block;
    border-right: $choice-img-border solid transparent;
    border-left:  $choice-img-border solid transparent;
    cursor: pointer;
    opacity:0.6;
    &:first-child { border-left: none; }
    &:last-child  { border-right: none; }
		img { -webkit-filter: #{'grayscale(80%)'}; opacity: 0.8;}
    &.active {
	    opacity:1;

			img { -webkit-filter: none; opacity:1; }
			h2 {
      	opacity: 0.9;
  		  -webkit-transform: translate3d(0,0,0);
		    transform: translate3d(0,0,0);
      }
    }
    figure{
      overflow: hidden;
      height: 300px;
      color: #FFFFFF;      
      figcaption{
        position: absolute;
        top: 80px;
        width:100%;
        font-family: 'Raleway';
      }
    }

    &:first-child:before { display: none; }
    &:before {
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      position: absolute;
      left: -$choice-circle-radius+ -$choice-img-border;
      top: 50%;

      content: "OR";
      z-index: 999;
      height: $choice-circle-radius*2;
      width: $choice-circle-radius*2;
      background-color: $main-background;
      margin-top: -$choice-circle-radius;
      line-height: $choice-circle-radius*2;
      font-size: 15px;
      border-radius: 50%;
      text-align: center;
    }
  }
}

.choices-container.ng-leave {
  -webkit-transition:0.5s linear all;
  height: 300px;
}

.choices-container.ng-enter.ng-enter-active {
  height: 0;
}