*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---------------*/
/***** Milo *****/
/*---------------*/
figure.effect-milo {
  background: #2e5d5a; }
  figure.effect-milo h2 {
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
    opacity: 0;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0); }
  figure.effect-milo:hover h2 {
    opacity: 0.9;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  figure.effect-milo img {
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
    transform: translate3d(-30px, 0, 0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  figure.effect-milo:hover img.img-choice {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1); }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(fonts/RalewayLight.woff) format('woff'); }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(fonts/Raleway.woff) format('woff'); }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(fonts/Raleway-ExtraBold.woff) format('woff'); }

body {
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased; }

.startpage {
  border-top: 5px solid #2a6ac0;
  width: 100%;
  text-align: center;
  height: 400px;
  background-image: url(../images/trivago-startpage-topLeft.png), url(../images/trivago-startpage-topRight.png);
  background-position: top left, top right;
  background-repeat: no-repeat; }
  .startpage img {
    margin-top: 150px; }

.iframeWrapper {
  width: 100%;
  height: 1800px;
  overflow: hidden; }

iframe {
  margin-top: -80px;
  width: 100%;
  border: 0;
  height: 1800px; }

.results {
  width: 100%;
  text-align: center; }
  .results li {
    width: 180px;
    margin-right: 1.66113%;
    margin-bottom: 1%;
    height: 88px;
    display: inline-block;
    box-sizing: border-box; }
  .results .cityItem {
    border: 1px solid #999;
    box-shadow: #d4dce3 0 0 0 3px inset, #d4dce3 2px 3px 0; }
    .results .cityItem:hover, .results .cityItem.active {
      border: 1px solid #236db5;
      box-shadow: #236db5 0 0 0 3px inset, #d4dce3 2px 3px 0; }
  .results a {
    display: table;
    height: 100%;
    padding: 18px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
    color: #236db5; }
  .results .wrap {
    display: table-cell;
    vertical-align: middle;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal; }
  .results .title {
    font-weight: 800; }

.ribbon {
  background: url(../images/ribbon.png);
  display: inline-block;
  font-size: 0.1px;
  width: 273px;
  height: 109px;
  position: absolute;
  left: 50%;
  margin-left: -136px;
  top: 341px;
  z-index: 100; }

.fullscreen {
  position: absolute;
  width: 100%; }

.btn-choice {
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  border: 1 px solid #eee;
  font-size: 18px; }

.img-choice-container {
  display: -webkit-flex;
  display: flex;
  margin: 0 0 50px 0; }
  .img-choice-container .img-choice:before {
    opacity: 0; }
  .img-choice-container.active {
    -webkit-filter: none; }
    .img-choice-container.active .img-choice:before {
      opacity: 1; }
    .img-choice-container.active .img-choice {
      opacity: 1; }
    .img-choice-container.active .img-choice img {
      -webkit-filter: none;
      opacity: 1; }
  .img-choice-container:hover .img-choice:before {
    opacity: 1; }
  .img-choice-container .img-choice {
    position: relative;
    height: 300px;
    flex-grow: 1;
    display: inline-block;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    cursor: pointer;
    opacity: 0.6; }
    .img-choice-container .img-choice:first-child {
      border-left: none; }
    .img-choice-container .img-choice:last-child {
      border-right: none; }
    .img-choice-container .img-choice img {
      -webkit-filter: grayscale(80%);
      opacity: 0.8;
      height: auto;
      min-height: 300px;
      min-width: 450px; }
    .img-choice-container .img-choice.active {
      opacity: 1; }
      .img-choice-container .img-choice.active img {
        -webkit-filter: none;
        opacity: 1; }
      .img-choice-container .img-choice.active h2 {
        opacity: 0.9;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    .img-choice-container .img-choice figure {
      overflow: hidden;
      height: 300px;
      color: #FFFFFF; }
      .img-choice-container .img-choice figure figcaption {
        position: absolute;
        top: 80px;
        width: 100%;
        font-family: 'Raleway'; }
    .img-choice-container .img-choice:first-child:before {
      display: none; }
    .img-choice-container .img-choice:before {
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      position: absolute;
      left: -40px;
      top: 50%;
      content: "OR";
      z-index: 999;
      height: 60px;
      width: 60px;
      background-color: #f6f6f6;
      margin-top: -30px;
      line-height: 60px;
      font-size: 15px;
      border-radius: 50%;
      text-align: center; }

.choices-container.ng-leave {
  -webkit-transition: 0.5s linear all;
  height: 300px; }

.choices-container.ng-enter.ng-enter-active {
  height: 0; }
