<!DOCTYPE html>
<html ng-app="trivagoApp">
<head>
  <title>Trivago Visual Search</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/application.css" />
</head>
<body ng-controller="mainCtrl">


	<div class="startpage">
		<img src="/images/trivago-startpage-center.png" />

	</div>
	<h2 class="ribbon">Visual Search</h2>
	<div class="fullscreen" ng-controller="choicesCtrl">
		<div ng-include="'views/choices.html'"></div>



		<div class="results" ng-if="selectedChoices.length > 0">
			<ul>
				<li class="cityItem" ng-repeat="city in findCities(tags, 10) track by $index">
          <a ng-click="state.selectedCity=city.trivagoId" class="item">
              <div class="wrap">
                  <span class="title">{{city.name}}</span>
              </div>
          </a>
	      </li>
	    </ul>
		</div>


		<div class="iframeWrapper">
		</div>


</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="scripts/module.js"></script>
<script src="scripts/controllers/main_ctrl.js"></script>
<script src="scripts/controllers/choices_ctrl.js"></script>
<script src="scripts/directives/scroll_position.js"></script>
<script src="scripts/services/choices_service.js"></script>
<script src="scripts/services/city_service.js"></script>
</body>
</html>